*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.navigation a {
  
  width: 146px;
  font-weight: bold;
}

.main-block {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 1200px;

  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  position: relative;
}

.visually-hidden {
  display: none;
}

.logo {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: auto;


  display: block;
}

.navigation-block {
  background-color: #ffffff;
  padding-left: 6%;
  padding-right: 6%;
}

.navigation {
  position: relative;

}

.navigation-buttons {
  min-height: 56px;
  list-style: none;
  display: flex;
  padding: 0;
  margin: auto;
  align-items: center;
}

.navigation-buttons li {


  width: 239px;
}

.navigation-buttons li:nth-child(1) {
  text-align: left
}

.navigation-buttons li:nth-child(2) {
  margin-right: auto;
  text-align: left
}

.navigation-buttons li:nth-child(3) {
  margin-left: auto;
  text-align: right
}

.navigation-buttons li:nth-child(4) {
  text-align: right
}

.navigation-buttons ul {
  min-height: 56px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.navigation-button {
  color: #000000;
}



.navigation-buttons a:hover {
  color: #81b3d2;
}


.navigation-buttons a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-buttons a:focus {
  color: #766357;
}


.welcome-img {
  margin: 132px 371px 79px 370px;

}

.welcome-phrase {
  width: 1200px;


  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-phrase::after {

  content: url(../img/intro-mask.svg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 58px;


}



.preface {

  width: 440px;
  margin-top: 0;
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
}

.five-reasons {
  text-align: center;


  margin-top: 38px;
  margin-bottom: 56px;
  color: #333333;

}

.first-description {
  margin: auto;
  max-width: 280px;
  background-color: #81b3d2;

  justify-content: center;

}

.list-first {
  list-style: none;
  width: 400px;
  margin: auto;

  background-color: #81b3d2;
  color: #fff;

}

.reason-first {
  display: flex;
  background-color: #81b3d2;
text-align: center;
}


.title-first {
  
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}


.number {


  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}

.text {
  

  font-size: 14px;

  line-height: 1.5;

  text-align: center;
  color: #ffffff;
}




.rec-list {

  min-height: 300px;
  list-style: none;
  display: flex;
  text-align: center;

  justify-content: space-between;

 margin-left: 73px;
margin-right: 63px;
 align-items: center;
  padding: 0;
}

.habitation::before {
  content: url(../img/icon-1.svg);
}

.food::before {
  content: url(../img/icon-2.svg);
}

.souvenirs::before {
  content: url(../img/icon-3.svg);
}


.text-reasons {
  align-items: center;
max-width: 262px;
}

.habitation {
  max-width: 252px;
}

.food {
 max-width: 284px;
}

.souvenirs {
max-width: 273px;

}

.title-rec {


  font-size: 21px;

  line-height: 1;

  text-align: center;
  color: #000000;
}

.paragraph-rec {


  font-size: 14px;

  line-height: 1.5;

  text-align: center;
  color: #333333;

}

.title {
  color: #ffffff;
  font-size: 21px;

  line-height: 1.5;

  text-align: center;
}

.reason-second {
display: flex;
background-color: #81b3d2;
text-align: center;

}

.second-discription {
  max-width: 303px;
  margin: auto;
  background-color: #81b3d2;

  justify-content: center;
}



.list-second {
 
list-style: none;
  width: 400px;
  margin: auto;

  background-color: #81b3d2;
  color: #fff;
}



.number {


  font-size: 14px;

  line-height: 1.5;

  
  color: #ffffff;
}

.text {
  

  font-size: 14px;

  line-height: 1.5;

  text-align: center;
  color: #ffffff;
}



.bottom-reasons {

  background-color: #eeeeee;
overflow: hidden;
}

.reasons-list {
  list-style: none;
  min-height: 256px;

  justify-content: space-between;
  display: flex;
  text-align: center;

  margin-left: 95px;
  margin-right: 77px;
  align-items: center;
  padding: 0;
}



.search-container {
  justify-content: center;
  padding: 0;
  overflow: hidden;
  
  
  background-color: #ffffff;
  
}

.search-paragraph {
  max-width: 434px;
 
  text-align: center;
  align-items: center;
 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;

  
}
.search-button {
  margin: auto;
  align-items: center;
  width: 568px;

background-color: #766357;
padding: 30px 138px;
display: flex;
}

.form {
  margin: auto;
}

.search-form{
  margin: auto;
  position: absolute;
background-color: #ffffff;
width: 568px;
box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
margin-left: auto;
margin-right: auto;
text-align: center;

}

.search-form label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  
}


.search-item-date {
  
  padding: 0px 0px 18px;
  margin: 14px 55px 0px 55px;
  color: #000000;
}

.search-item-date input {
  width: 346px;
  padding: 6px 30px 6px 14px;
  margin: 0px 0px 0px 16px;
  background-color: #f2f2f2;
}
 
 
.title-search{
color: #ffffff;
  font-size: 21px;
  line-height: 1.24;
 align-items: center;
 text-align: center;

}

.age {
  display: flex;
}

.age input {
  width: 38px;
  height: 38px;
  
 
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
}

.adult-kids {
  margin-left: 55px;
  margin-right: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  display: block;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 57px;
}

.check-date{
  font-size: 14px;
 line-height: 1.71;
 
}

.adult-kids ::-webkit-input-placeholder {
  text-align:center;
  }

.placeholder-number {
background-color: #f2f2f2;
border: none;
align-items: center;
padding: 5px 0px;
}

.placeholder-number input:hover{
  background-color: #ebebeb;
  border: none;
  align-items: center;
  padding: 5px 0px;
  }


  .placeholder-number input:active{
    background-color: #ffffff;
    border-color: #ebebeb;
    align-items: center;
    padding: 5px 0px;
    }



.operator {
padding-bottom: 0;
    width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    color: #a9a9a9;
    text-transform: uppercase;
    font: inherit;
    font-weight: 700;
}
  /*
  .search .check-date {
    text-align: center;

    padding-top: 38px;
    color: #333333;
  }
*/
  .blue-button {
  margin: 54px 55px 55px 55px;
  
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  

  }

  .blue-button-text {
    
    font-size: 21px;
    font-weight: bold;
    
    line-height: 1.24;
    margin: auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .map {
   
    
    position: absolute; 
    background-position: top center;
    background-repeat: no-repeat;
     
  
  
  }

   


  .page-footer {
    position: absolute;
    display: block;
    
    bottom: 0;
    padding-top: 35px;
    padding-bottom: 41px;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    
  }

  .footer-container {
    box-shadow: none;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
  }

.footer-hashtag {
  margin-right: 256px;
  display: block;
   
    padding-top: 10px;
    width: 140px;
    align-self: center;
}

  .hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    
  }

  

  .social {
     
    padding: 0;
    width: 150px;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    list-style: none;
  }

  .social-block {
    display: flex;
height: 48px;
    width: 46px;
    padding: 0;
    background-color: #81b3d2;
    align-items: center;

    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
}

  

  .social-tw {
  content: url(../img/twitter.svg);
  width: 17px;
  height: 15px;
  
  
    
  }

  .social-fb {
  content: url(../img/fb-icon.svg);
  width: 12px;
  height: 22px;
  object-fit: contain;
  
  }

  .social-yt {
  content: url(../img/youtube.svg);
  width: 20px;
  height: 16px;
  object-fit: contain;
    
  }

  .developer-block {
    margin-left: 228px;
     
    width: 198px;
     
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .by {
    margin-right: 5px;
    position: static;
    display: block;
    color: #000000;

    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;

  }




/* inner.html styles */

.navigation-button-on {
  color: #766357;
}

.container {
  flex-direction: column;
   
  margin: 0 auto;
  width: 1200px;
   
  background-color: #fff;
  -webkit-box-shadow: 1px 10px 15px 1px grey;
  box-shadow: 1px 10px 15px 1px grey;
}


.filter-form {
  background-color: #3e749e;
  background-image: url(../img/filter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;

  width: 1200px;
  object-fit: contain;

  padding-top: 27px;
  padding-bottom: 8px;
  padding-right: 70px;
  padding-left: 72px;
}

.filter-form, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

fieldset {
  padding: 0;
    border: 0;

    display: block; 
}

.fieldset-box {
  margin: 0 116px 0 0;
  padding: 0;
  width: 140px;
}


.fieldset-box legend, .housing-box legend  {
  margin-bottom: 28px;

  font-size: 16px;
  
  line-height: 1.31;
  text-align: left;
}

.fieldset-box li, .housing-box li {
  
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  
}



.filter-option {
  padding-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input+label::before {
  position: absolute;
  top: 0;
  left: -40px;
  width: 30px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

.filter-input:checked+label::after, .filter-input:checked+label::before {
  position: absolute;
  left: -40px;
  width: 30px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

.housing-box {
  margin: 0;
  

  border: 0;
}

.filter-range {
  margin: 0 0 0 auto;
  width: 318px;
}



.filter-form legend, .filter-range label {
  font-size: 16px;
}

.filter-button {
  display: block;
  margin: 30px 82px 0;
  padding: 6px 35px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: 0 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.price-control {
  position: relative;
    margin-top: 9px;
    margin-bottom: 20px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
}

.price-control label {
  
  margin-top: 5px;
  padding-left: 60px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.price-control .max-price, .price-control .min-price {
  padding-left: 61px;
  width: 90px;
}

.price-control input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding-left: 3px;
  width: 50px;
  border: 0;
  background: 0 0;
  color: inherit;
  font: inherit;
  line-height: 1;
}

button, input {
  overflow: visible;
}

.price-control::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  content: '';
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


.range-control {
  position: relative;
  margin-bottom: 32px;
}

.range-control .scale {
  height: 2px;
  background: rgba(255,255,255,.3);
}

.range-control .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  text-indent: -1000px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 0 0 rgba(171,171,171,.3);
  box-shadow: 0 2px 0 0 rgba(171,171,171,.3);
  cursor: pointer;
}

.range-toggle-max {
  left: 250px;
}

.results {
   
  display: -webkit-box;
  display: -ms-flexbox;
  
  display: flex;
    margin-top: 32px;
    padding-right: 72px;
    padding-bottom: 28px;
    padding-left: 72px;
    border-bottom: 1px solid #e5e5e5;

  font-size: 12px;
}


.catalog-item h2, .hashtag, .results p {
  color: #000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.results .sorting {
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}


.catalog-item h2:hover, .results .active, .sorting a:hover {
    color: #81b3d2;
}

.catalog-item h2:active, .sorting a {
  color: rgba(0,0,0,.3);
}

.sorting a {
  padding: 0;
  border-bottom: 1px dotted #81b3d2;
 
}

.sorting {
  margin-right: 504px;
}


li {
  text-align: -webkit-match-parent;
}

.arrows {
  margin: auto;
  
}

.arrow-up {
  content: url(../img/icon-up-dir.svg);
   
  margin: 0px 10px 0px 0px;
  width: 11px;
  height: 10px;
  object-fit: contain;
  color: #cacaca;
}

.arrow-up a:hover {
  color: #000000;
}

.arrow-up a:active {
  color: #81b3d2;
}

.arrow-down {
  content: url(../img/icon-down-dir.svg);

  width: 11px;
  height: 10px;
  object-fit: contain;
  color: #cacaca;
  
}

.arrow-down a:hover {
  color: #000000;
}

.arrow-down a:active {
  color: #81b3d2;
}




*, *::before, *::after {
  box-sizing: inherit;
}

.catalog {
  margin: 0;
  padding: 0;
}

.catalog-type span {
  width: 113px;
}

.catalog-item {
  padding: 0 72px 30px;
  border-bottom: 1px solid #e5e5e5;
  margin: 26px 0 0;
}

.catalog-item, .catalog-item .item-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item .item-img {
  margin-right: 30px;
  padding-top: 4px;
  width: 135px;
  height: 90px;
}

img {
  border-style: none;
}


.catalog-item .item-detail {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  margin: 0;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.item-detail .name-hotel {
  margin: 0;
  letter-spacing: .2px;
  line-height: 21px;
}

.catalog-item h2, .hashtag, .sort-result b {
  color: #000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item h2, .hashtag, .sort-result b {
  color: #000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.button-detail, .button-booking {
  background-color: #81b3d2;
  color: #fff;
  font-weight: 700;
}

.catalog-price a {
  padding: 3px 18px;
}

.catalog-price a, .catalog-type span {
  display: inline-block;
  vertical-align: middle;
}

.button-booking {
  background-color: #766357;
  color: #fff;
  
}

.button-detail {
  background-color: #81b3d2;
  color: #fff;
   
}

.catalog-item .block-stars  {
  margin-left: auto;
  width: 111px;
  text-align: right;
}

 
.amara-stars {
  width: 89px;
  height: 22px;

  margin-top: 3px;
  margin-left: auto;
  background-image: url(../img/star.svg);
  background-position: 0 0;
  background-repeat: space;
}

.desert-stars {
  width: 62px;
  height: 22px;

  margin-top: 3px;
  margin-left: auto;
  background-image: url(../img/star.svg);
  background-position: 0 0;
  background-repeat: space;
}

.villa-stars {
  width: 40px;
  height: 22px;

  margin-top: 3px;
  margin-left: auto;
  background-image: url(../img/star.svg);
  background-position: 0 0;
  background-repeat: space;
}

.visually-hidden:not(:focus):not(:active), input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.catalog-item .rating {
  position: relative;
  top: 45px;
  padding: 4px 13px;
  background-color: #f2f2f2;
  color: #666;
}



.catalog-price a {
  padding: 3px 18px;
}

.page-footer-inner {
  
  display: block;
  
  bottom: 0;
  padding-top: 35px;
  padding-bottom: 41px;
  background: rgba(255,255,255, 0.9);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  
}

